.h-top {
    background-color: black;
}

.overflow-hidden-x {
    overflow-x: hidden;
}

.logo {
    width: 100px;
}
.play-logo {
    width: 40px;
}

.nav-bar-color {
    background-color: white;
}


.jumbo-bg {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-bg {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.w-banner {
    width: 230px;
}

.jumbo-height-width {
    height: 600px ;
    width: 100%;
    margin:auto;

}

.w-90 {
    width: 90%;
    margin:auto;
}

.w-99 {
    width: 99%;

}


.fs-7 {
    font-size: 20px;
}

.img-height {
    height: 110px;
}

.img-height-2 {
    height: 200px;
}

.img-height-3 {
    height: 130px;
}

.btn-returnal {
    background-color: red;
}

.mt-6 {
    margin-top: 5em;
}

.mb-7 {
    margin-bottom: 7em;
}

.text-color-1 {
    color: royalblue;
}

.text-color-2 {
    color: grey;
}

.w-console {
    width: 90%;
    margin:auto;
}

.list-none {
    list-style-type: none;
}

.btn-color-2 {
    background-color: blue;
}

.bg-black {
    background-color: rgb(32, 29, 29);
}

@media screen and (max-width: 400px) {
    .logo-t2 {
        width: 130px;
    }
}

.s-tm {
    font-size: 10px;
    vertical-align: 0.5em;
}

.s-r {
    font-size: 10px;
    vertical-align: 1.2em;
}

.fs-10 {
    font-size: 12px;
}